@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* viewport의 높이와 동일하게 설정 */
}

.container {
  flex: 1; /* 사용 가능한 나머지 공간을 차지하도록 설정 */
}

@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.max-lines-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 4em;
}

.max-lines-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 3em;
}

.truncate-70 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 70%;
}

.truncate-100 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

@keyframes heartBounce {
  0% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.animate-heartBounce {
  animation: heartBounce 0.6s;
}

@media (min-width: 768px) {
  .moving_grid > :nth-child(n + 5) {
    /* xl에서는 4개 아이템만 보이게 하고 나머지는 숨김 */
    display: none;
  }
  .moving_grid > :nth-child(-n + 4) {
    /* 처음 4개 아이템은 보이게 함 */
    display: block;
  }
}

@media (max-width: 767px) {
  .moving_grid > :nth-child(n + 4):nth-child(-n + 6) {
    /* xs에서는 3개 아이템만 보이게 하고 나머지는 숨김 */
    display: none;
  }
}

@media (max-width: 320px) {
  .moving_grid > :nth-child(n + 3) {
    /* 기본 상태에서 2개 아이템만 보이게 하고 나머지는 숨김 */
    display: none;
  }
}
